*,
*::after,
*::before{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* list-style: none; */
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container{
    background: black;
}

/* <-----Introduction----> */

.background{
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url('pexels-mamunurpics-18315446.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 95vh;
    /* border: 2px solid red;  */
}

.nav h1{
    font-size: 3rem;
}

.nav{
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.161);
}

.nav a{
    padding:0.5rem;
    margin: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color:dimgray;
}

.nav a:hover{
    color: red;
    border-bottom: 2px solid grey;
}

.button{
    border-radius: 15px;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: #fff;
    border: none;
    cursor: pointer;
}


.introduction{
    margin-top: 10rem;
    padding: 2rem;
    /* border: 2px solid red; */
    font-size: 8rem;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    position: relative;
}

.introduction .name{
    font-size: 5rem;
}

.introduction img{
    width:450px;
    position: absolute;
    top: 155px;
    left: 1100px;
}

.down{
    width: 20px;
    height: 20px;
    position: relative;
    top: 10px;
    left: 50%;
}

/* <--------ABOUT SECTION------> */


.about{
    color: #fff;
    border: 3px solid dimgrey;
    width: 1000px;
    padding: 5rem;
    margin: auto;
    margin-top: 10rem;
    font-size: 5rem;
}

.about .about-heading{
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    border-bottom: 3px solid darkgray;
}

.about h2{
    font-size: 2rem;
}

.about h2 a{
    text-decoration: none;
    font-size: 2rem;
    color:rgb(179, 179, 179);
    font-weight: 500;
}

.about h2 a:hover{
    color: red;
}
.about-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about .icon{
    width: 60px;
    padding: 5px;
}

.about .objective{
    width: 50%;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.objective .objective-heading{
    font-weight: 500;
    /* text-decoration: underline; */
}

.objective::after{
    width: 60px;
    padding: 10px;
}

/* <---------------------------> */


/* <-------Education Section----> */


.education{
    width: 1300px;
    padding: 4rem;
    margin: auto;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    background: #b8b8b8;
    flex-wrap: wrap;
}

.education-heading{
    font-size: 5rem;
}

.education-content{
    font-size: 3rem;
    width: 50%;
    padding-left: 2rem;
}

/* <------------------> */


/* <------Skills Section------> */

.skill{
    color: #fff;
}
.skill-heading{
    text-align: center;
}
.skill-heading h2{
    font-weight: 500;
    color: greenyellow;
    font-size: 5rem;
    text-align: center;
    /* background: rgb(247, 247, 7); */
    margin-top: 10rem;
    text-shadow: 1px 1px 3px white;
    
}

.skill-heading span{
    font-size: 2rem;
}

.skill-content h2{
    font-size: 2rem;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 2rem;
    margin:auto;
    width: 900px;
    margin-top: 5rem;
}

.bars-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.bars-box h3,span{
font-size: 1.7rem;
font-weight: 500;
}

.light-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.6rem;
    background:royalblue;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.192);
}

.percent-bar{
    position: absolute;
    bottom:0;
    left: 0;
    height: 0.6rem;
    background: white;
    border-radius: 0.6rem;
}

.html-bar{
    width: 95%;
}
.css-bar{
    width: 85%;
}
.js-bar{
    width: 70%;
}
.c-bar{
    width: 75%;
}
.cpp-bar{
    width: 80%;
}
.python-bar{
    width: 75%;
}


/* <-------------------------> */


/* <--------PROJECTS----------> */

.project{
    color: white;
    margin: auto;
    margin-top: 10rem;
    padding-bottom: 8rem;
    /* background: pink; */

}
.project-title{
    font-weight: 400;
    font-size: 5rem;
    color:tomato;
    text-align: center;
    margin-bottom: 10rem;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);

}

.project-list a{
    color: #fff;
    font-size: 2.5rem;
}

.row img{
    width: 150px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.195);
}

.project-list{
    width: 1300px;
    background-color:rgb(161, 153, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.project-list div{
    width: 33.3%;
}

.row{
    border: 5px solid black;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.project-list a{
    text-align: center;
    text-decoration: none;
}
/* <--------------------------> */


@media screen and (max-width:501px){
    *{
        font-size: 55%;
    }
    .container{
        max-width: 100vw;
    }

    .introduction{
        font-size: 5rem;
    }
    .about{
        width: fit-content;
    }
    .education{
        width: fit-content;
    }
    .skill-container{
        width: 300px;
    }
}

@media screen and (min-width:501px) and (max-width:900px){
    .container{
        max-width: 100vw;
    }

    .introduction{
        font-size: 5rem;
    }
    .about{
        width: fit-content;
    }
    .education{
        width: fit-content;
    }
    .skill-container{
        width: 450px;
        grid-template-columns: repeat(2,1fr);
    }

}
@media screen and (min-width:901px) and (max-width:1200px){
    .container{
        max-width: 100vw;
    }

    .introduction{
        font-size: 6rem;
    }
    .about{
        width: fit-content;
    }
    .education{
        width: fit-content;
    }
    .skill-container{
        width: 800px;
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width:1201px){
    .education{
        max-width: fit-content;
    }
}